<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gachon.morningroutin_layout">
    <!-- internet permission for firebase connection -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Morningroutin_layout">
        <activity
            android:name=".WalkFlowActivity"
            android:exported="false" />
        <activity
            android:name=".TodoInflationActivity"
            android:exported="false" />
        <activity
            android:name=".StudyInflationActivity"
            android:exported="false" />
        <activity
            android:name=".ExerciseInflationActivity"
            android:exported="false" />
        <activity
            android:name=".AlarmSetActivity"
            android:exported="false" />
        <activity
            android:name=".GraphActivity"
            android:exported="false" />
        <activity
            android:name=".OptionActivity"
            android:exported="false" />
        <activity
            android:name=".RewardActivity"
            android:exported="true" />

        <activity
            android:name=".exampleAlarmMain"
            android:exported="true" />

        <activity
            android:name=".AlarmActivity"
            android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>